BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
ColumnLimit: 0
PointerAlignment: Left
SpaceAfterTemplateKeyword: false
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
BreakConstructorInitializers: BeforeColon
ConstructorInitializerAllOnOneLineOrOnePerLine: false
IndentCaseLabels: true
NamespaceIndentation: All
FixNamespaceComments: false
Standard: c++20
SortIncludes: false
AlignConsecutiveBitFields: true
AlignConsecutiveMacros: true
Cpp11BracedListStyle: true
PackConstructorInitializers: Never
BinPackArguments: false
BinPackParameters: false
AllowShortFunctionsOnASingleLine: All
AllowShortBlocksOnASingleLine: Never
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None